/* Slimbaot */
/* /home/eric/.local/share/data/FlashPeak/SlimBoat/custom.css */

*{
	-webkit-box-shadow: none !important;
	-webkit-font-smoothing: antialiased !important;
	-webkit-transform: none !important;

	font-smooth:always!important;
	text-shadow: none!important;
	font-size: medium;
	font-size-adjust: 1.0;
	font-family: "WenQuanYi Micro Hei"!important;
}﻿
