/* Slimbaot */
/* /home/eric/.local/share/data/FlashPeak/SlimBoat/custom.css */

*[lang|="en"] { font-family: "NanumGothic"!important;}
*[lang|="en-US"]{ font-family: "NanumGothic"!important;}

:lang(en-US){ font-family: "NanumGothic"!important;}
:lang(en){ font-family: "NanumGothic"!important;}

*{
	-webkit-box-shadow: none !important;
	-webkit-font-smoothing: antialiased !important;
	
	font-smooth:always!important;
	text-shadow: none!important;
	font-size: medium!important;
	font-family: "Droid Sans"!important;
}﻿
