/* Slimbaot */
/* /home/eric/.local/share/data/FlashPeak/SlimBoat/custom.css */

@font-face {
        font-family: "displayWQY"; 
        unicode-range: U+4E00-9FFF, U+3400-4DFF,U+20000-2A6DF,U+F900-FAFF,U+2F800-2FA1F;
        src:local("WenQuanYi Micro Hei");
}

*[lang|="zh"]{ font-family: "WenQuanYi Micro Hei"!important;}
 *[lang|="zh-CN"]{ font-family: "WenQuanYi Micro Hei"!important;}
 
:lang(zh-CN) { font-family: "WenQuanYi Micro Hei"!important;}
:lang(zh) { font-family: "WenQuanYi Micro Hei"!important;}
 
*[lang|="en"] { font-family: "URW Gothic L"!important;}
*[lang|="en-US"]{ font-family: "URW Gothic L"!important;}

:lang(en-US){ font-family: "URW Gothic L"!important;}
:lang(en){ font-family: "URW Gothic L"!important;}


*{
	-webkit-font-smoothing: antialiased !important;
	font-smooth:always!important;
	text-shadow: none!important;
	font-size: medium!important;
	font-family: "displayWQY","Hiragino Sans GB","Droid Sans"!important;
}﻿
