*{
	font-smooth:always!important;
	text-shadow: none!important; 
	font-family:"Hiragino Sans GB","DejaVu Serif", "DejaVu Sans","URW Chancery L" !important;
}
body { -webkit-font-smoothing: antialiased !important; }
input, code {
	font-size: 15px!important; 
}
