/* qupzilla css font rendering */
/* /home/eric/.config/qupzilla/profiles/default/custome.css*/

*{ 
-webkit-font-smoothing: antialiased !important; 
}

*[lang|="en"] { font-family: "URW Gothic L"!important;}
*[lang|="en-US"]{ font-family: "URW Gothic L"!important;}

:lang(en-US){ font-family: "URW Gothic L"!important;}
:lang(en){ font-family: "URW Gothic L"!important;}

body { -webkit-font-smoothing: antialiased !important; }

b,strong{
	font-family: "Hiragino Sans GB"!important;
}

body{
	font-smooth:always!important;
	text-shadow: none!important; 
	font-family: "Hiragino Sans GB"!important;
}
