/* qupzilla css font rendering */
/* /home/eric/.qupzilla/profiles/default/Custom.css */

body { 
-webkit-font-smoothing: antialiased !important; 
}

@font-face {
	font-family: "DisplayCN"; 
	unicode-range: 
	U+4E00-9FFF, U+3400-4DFF,U+20000-2A6DF,U+F900-FAFF,U+2F800-2FA1F;
	src:local("WenQuanYi Micro Hei");
}

*[lang|="zh"] { font-family: "Hiragino Sans GB"!important;}
*[lang|="zh-CN"]{ font-family: "Hiragino Sans GB"!important;}

:lang(zh-CN){ font-family: "Hiragino Sans GB"!important;}
:lang(zh){ font-family: "Hiragino Sans GB"!important;}

body { -webkit-font-smoothing: antialiased !important; }

*{
	font-smooth:always!important;
	text-shadow: none!important; 
	font-family: "URW Gothic L","Hiragino Sans GB","DisplayCN"!important;
}