@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");﻿

*{ 
	-webkit-font-smoothing: antialiased !important; 
	-webkit-box-shadow: none !important;
	-webkit-text-size-adjust: none;﻿

	font-smooth:always!important;
	text-shadow: none!important; 
	font-family: "URW Gothic L","Hiragino Sans GB"!important;
}
