/* Global Font Setting for firefox Content */
@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@font-face {
	font-family: "DisplayHRG";
	unicode-range: U+4E00-9FFF, U+3400-4DFF,U+20000-2A6DF,U+F900-FAFF,U+2F800-2FA1F;
	src:local("Hiragino Sans GB");
}

@-moz-document domain(plus.google.com) {
	div,button,label {
		font-size: 15px!important;
	}
}

@-moz-document domain(*.creaders.net/*) {
		* {font-size: 15px!important;  font-family:"Hiragino Sans GB","WenQuanYi Micro Hei"!important;}
}

/* Centerize Web Page Layout */
@-moz-document domain(groups.google.com) {
	.GHSP2CYBBED {
		padding-left: 300px !important;
		padding-right: 300px !important;
	}
}

b,strong {
	font-family: "WenQuanYi Micro Hei"!important;
}

*[lang|="zh"] {font-family:"Hiragino Sans GB","WenQuanYi Micro Hei"!important;}
*[lang|="zh-CN"]{font-family:"Hiragino Sans GB","WenQuanYi Micro Hei"!important;}
:lang(zh-CN){font-family:"Hiragino Sans GB","WenQuanYi Micro Hei"!important;}
:lang(zh){font-family:"Hiragino Sans GB","WenQuanYi Micro Hei"!important;}

*[lang|="en"] {font-family:"DisplayHRG","URW Gothic L"!important;}
*[lang|="en-US"]{font-family:"DisplayHRG","URW Gothic L"!important;}
:lang(en-US){font-family:"DisplayHRG","URW Gothic L"!important;}
:lang(en){font-family:"DisplayHRG","URW Gothic L"!important;}

*{ 
	-webkit-font-smoothing: antialiased !important; 
	-webkit-box-shadow: none !important;
	-webkit-text-size-adjust: none;﻿
}

body{
	font-size: 15px;
	font-smooth:always!important;
	text-shadow: none!important; 
	advancedAntiAliasing: true;
	font-family: "URW Gothic L","Hiragino Sans GB"!important;
}
