/* Global Font Setting for firefox Content */
@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document domain(plus.google.com) {
	div {
		font-size: 15px!important;
	}
}

@-moz-document domain(*.creaders.net/*) {
		* {font-size: 15px;  font-family:"Hiragino Sans GB","WenQuanYi Micro Hei"!important;}
}

/* Centerize Web Page Layout */
@-moz-document domain(groups.google.com) {
	.GHSP2CYBBED {
		padding-left: 300px !important;
		padding-right: 300px !important;
	}
}

b,strong {
	font-family: "WenQuanYi Micro Hei"!important;
}

*[lang|="zh"] {font-size: 15px; font-family:"Hiragino Sans GB","WenQuanYi Micro Hei"!important;}
*[lang|="zh-CN"]{font-size: 15px; font-family:"Hiragino Sans GB","WenQuanYi Micro Hei"!important;}
:lang(zh-CN){font-size: 15px;  font-family:"Hiragino Sans GB","WenQuanYi Micro Hei"!important;}
:lang(zh){font-size: 15px; font-family:"Hiragino Sans GB","WenQuanYi Micro Hei"!important;}

body { -webkit-font-smoothing: antialiased !important; }

*{
	font-smooth:always!important;
	text-shadow: none!important; 
	advancedAntiAliasing: true;
	font-family: "URW Gothic L","Hiragino Sans GB"!important;
}