@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");﻿

*{ 
	-webkit-font-smoothing: antialiased !important; 

	font-smooth:always!important;
	text-shadow: none!important; 
	font-family: "TR Century Gothic","Hiragino Sans GB"!important;
}
