/* /home/eric/.config/google-chrome/Default/User StyleSheets/Custom.css */

@font-face{

	font-family:"Droid Sans","Droid Serif","WenQuanYi Micro Hei"!important;

	src: url('../../includes/fonts/Droid Sans.eot');
	src: url('../../includes/fonts/Droid Sans.eot?#iefix') format('eot'),
	url('../../includes/fonts/Droid Sans.woff') format('woff'),
	url('../../includes/fonts/Droid Sans.ttf') format('truetype'),
	url('../../includes/fonts/Droid Sans.svg') format('svg');

	src: url('../../includes/fonts/Droid Serif.eot');
	src: url('../../includes/fonts/Droid Serif.eot?#iefix') format('eot'),
	url('../../includes/fonts/Droid Serif.woff') format('woff'),
	url('../../includes/fonts/Droid Serif.ttf') format('truetype'),
	url('../../includes/fonts/Droid Serif.svg') format('svg');

	src: url('../../includes/fonts/WenQuanYi Micro Hei.eot');
	src: url('../../includes/fonts/WenQuanYi Micro Hei.eot?#iefix') format('eot'),
	url('../../includes/fonts/WenQuanYi Micro Hei.woff') format('woff'),
	url('../../includes/fonts/WenQuanYi Micro Hei.ttf') format('truetype'),
	url('../../includes/fonts/WenQuanYi Micro Hei.svg') format('svg');

	font-weight: normal;
	font-style: normal; 
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face{
	font-family:"Droid Sans","Droid Serif","WenQuanYi Micro Hei"!important;
	src: url('../../includes/fonts/Droid Sans.svg') format('svg');
	src: url('../../includes/fonts/Droid Serif.svg') format('svg');
	src: url('../../includes/fonts/WenQuanYi Micro Hei.svg') format('svg');
	}
}

*{
	font-family:"Droid Sans","Droid Serif","WenQuanYi Micro Hei"!important;
}	﻿
