/* /home/eric/.config/google-chrome/Default/User StyleSheets/Custom.css */

@font-face{

	font-family:"URW Gothic L","Droid Sans","URW Bookman L","Hiragino Sans GB","WenQuanYi Micro Hei"!important;

	src: url('../../includes/fonts/Droid Sans.eot');
	src: url('../../includes/fonts/Droid Sans.eot?#iefix') format('eot'),
	url('../../includes/fonts/Droid Sans.woff') format('woff'),
	url('../../includes/fonts/Droid Sans.ttf') format('truetype'),
	url('../../includes/fonts/Droid Sans.svg') format('svg');
	
	src: url('../../includes/fonts/URW Gothic L.eot');
	src: url('../../includes/fonts/URW Gothic L.eot?#iefix') format('eot'),
	url('../../includes/fonts/URW Gothic L.woff') format('woff'),
	url('../../includes/fonts/URW Gothic L.ttf') format('truetype'),
	url('../../includes/fonts/URW Gothic L.svg') format('svg');

	src: url('../../includes/fonts/URW Bookman L.eot');
	src: url('../../includes/fonts/URW Bookman L.eot?#iefix') format('eot'),
	url('../../includes/fonts/URW Bookman L.woff') format('woff'),
	url('../../includes/fonts/URW Bookman L.ttf') format('truetype'),
	url('../../includes/fonts/URW Bookman L.svg') format('svg');

	src: url('../../includes/fonts/Hiragino Sans GB.eot');
	src: url('../../includes/fonts/Hiragino Sans GB.eot?#iefix') format('eot'),
	url('../../includes/fonts/Hiragino Sans GB.woff') format('woff'),
	url('../../includes/fonts/Hiragino Sans GB.ttf') format('truetype'),
	url('../../includes/fonts/Hiragino Sans GB.svg') format('svg');
	
	src: url('../../includes/fonts/WenQuanYi Micro hei.eot');
	src: url('../../includes/fonts/WenQuanYi Micro hei.eot?#iefix') format('eot'),
	url('../../includes/fonts/WenQuanYi Micro hei.woff') format('woff'),
	url('../../includes/fonts/WenQuanYi Micro hei.ttf') format('truetype'),
	url('../../includes/fonts/WenQuanYi Micro hei.svg') format('svg');
	
	font-weight: normal;
	font-style: normal; 
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face{
		font-family:"URW Gothic L","Droid Sans","URW Bookman L","Hiragino Sans GB","WenQuanYi Micro Hei"!important;
		src: url('../../includes/fonts/Droid Sans.svg') format('svg');
		src: url('../../includes/fonts/URW Gothic L.svg') format('svg');
		src: url('../../includes/fonts/URW Bookman L.svg') format('svg');
		src: url('../../includes/fonts/WenQuanYi Micro Hei.svg') format('svg');
		src: url('../../includes/fonts/Hiragino Sans GB.svg') format('svg');
	}
}

body { -webkit-font-smoothing: antialiased !important; }

h1,h2,h3,h4,h5,h6,b{
	font-family:"URW Bookman L","WenQuanYi Micro Hei"!important;
}
*{
	font-smooth:always!important;
	text-shadow: none!important; 
	font-family:"URW Gothic L","Droid Sans","URW Bookman L","Hiragino Sans GB","WenQuanYi Micro Hei"!important;	
}