/* /home/eric/.opera/styles/user/custom.css */
h1,h2,h3,h4,h5,h6,b{
	font-family: "Open Sans","WenQuanYi Micro Hei"!important;
}
* {
	font-smooth:always!important;
	text-shadow: none!important; 
	font-family: "Open Sans","Hiragino Ssans GB","WenQuanYi Micro Hei"!important;
}
