/* /home/eric/.mozilla/firefox/mwad0hks.default/chrome/userContent.css */
@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
/* Global Font Setting for firefox Content */

input, code, div , p {
	font-size: 15px!important; 
}

*{
	font-size: 15px;
	font-smooth:always!important;
	text-shadow: none!important; 
	font-family:"Hiragino Sans GB","Microsoft YaHei","Open Sans","Droid Serif","Droid Sans Mono"!important;
}
