/* ~/.config/epiphany/user-stylesheet.css*/

*{ 
	-webkit-font-smoothing: antialiased !important; 

	-webkit-text-size-adjust: none;﻿
	text-shadow: none!important; 
	font-smooth:always!important;
	font-size: 15px;
	font-family: "URW Gothic L","Hiragino Sans GB"!important;
}

p,li,tr,td,tab,div,span,input,label{
	font-size: 15px!important;
}